body {
    margin: 0 auto;
    background-color: black;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Sans", sans-serif;
}

.header {
    width: 100%;
    min-height: 23px;
    max-width: 864px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    max-width: 1109px;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: row;
}

.nav__item {
    list-style: none;
    padding-left: 40px;
    padding-right: 30px;
}

.nav__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.layout__main {
    color: white;
    max-width: 864px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.layout__main {
    max-width: 864px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-top: 80px;
    padding-bottom: 50px;
}
.main__heading {
    font-size: 84px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 20px;
   
    
}
.main__heading, .main__info  {
    text-align: center;
    padding-top: 20px;
    color: white;
    margin: 5px;
}

.main__info {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    max-width: 864px;

}
@media screen and (max-width: 800px) {
    .main__heading {
        font-size: 72px;
        padding-top: 60px;
        padding-bottom: 30px;
        
    }
    
}

@media screen and (max-width: 320px) {
    .main__heading {
        font-size: 36px;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .main__info {
        font-size: 12px;
    }

}

.pic-bg{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin: 40px;
   
}
.main-content{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}